body{
  height: 200vh;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 3 equal columns */
  gap: 60px;
  padding: 60px;
}

.box {
  background-image: linear-gradient(#a1b0bf, #e3a7a7);
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
}
img {
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
a p {
  color: #444;
}
/* Mobile: Change to 2column */
@media (max-width: 1000px){
  .container {
      grid-template-columns: repeat(2, 1fr);
      padding: 0px;
       margin: 0px;
       margin-top: 120px;
  }
  img {
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
  }
}

/* Mobile: Change to 1 column */
@media (max-width: 600px) {
  .container {
      grid-template-columns: 1fr;
  }
}
